.loader {
  width: 50px;
  aspect-ratio: 1;
  background: #ff005b;
  display: grid;
  transform-origin: top right;
  animation: l6-0 1s infinite linear;
  margin-top: 25%;
  margin-left: 50%;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  background: #a7204f;
  transform-origin: inherit;
  animation: inherit;
  animation-name: l6-1;
}
.loader::after {
  background: #571f32;
  --s: 180deg;
}
@keyframes l6-0 {
  70%,
  100% {
    transform: rotate(360deg);
  }
}
@keyframes l6-1 {
  30% {
    transform: rotate(var(--s, 90deg));
  }
  70% {
    transform: rotate(0);
  }
}
