.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: #ff005b;
  height: 10vh;
  width: 100%;
  align-items: center;
}

a {
  text-decoration: none;
  color: #fff;
}

.logo {
  font-size: 60px;
  font-weight: 600;
}

.menu {
  --s: 40px;
  --c: white;

  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s) / 2) solid #0000;
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%, #0000 0 80%, var(--c) 0) no-repeat
    content-box border-box;
  --_g2: radial-gradient(circle closest-side at 50% 12.5%, var(--c) 95%, #0000)
    repeat-y content-box border-box;
  background: var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
    var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%, 40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  cursor: pointer;
  transition: background-position 0.3s var(--_s, 0.3s),
    clip-path 0s var(--_s, 0.6s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.menu:before,
.menu:after {
  content: "";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1 * var(--s));
  --_s: 0s;
}
.menu:checked:before {
  transform: rotate(45deg);
}
.menu:checked:after {
  transform: rotate(-45deg);
}
.menu:focus-visible {
  clip-path: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}

.categories{
  display: none;
  background-color: white;
  width: 23%;
  position: fixed;
  top: 10%;
  left: 0;
  border-radius: 10px;
}

.categories.active{
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.categories > a{
  color: black;
  margin: 30px;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.navbar__left{
  display: flex;
  align-items: center;
}

.icon > img, .icon > svg{
  width: 25px;
  height: 25px;
}

.icon{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 50px;
  height: 50px; 
  align-items: center;
}

.icon > p{
  margin-top: 6px;
  color: white;
}

a > img{
  width: 30px;
  height: 30px;
  margin-right: 5px;
}